DATABASE_URL=sqlite:///./seekapply.db
STORAGE_ROOT=../storage

OCI_CONFIG_FILE=~/.oci/config
OCI_PROFILE=DEFAULT
OCI_REGION=us-chicago-1

GENAI_PROJECT_ID=ocid1.generativeaiprojec
EXTRACTION_MODEL=google.gemini-2.5-flash


OCI_COMPARTMENT_OCID=ocid1.compartment.oc1..
OCI_ENDPOINT=https://inference.oraclecloud.com
OCI_GENAI_MODEL_ID=openai.gpt-4o

OCI_OBJECT_STORAGE_NAMESPACE=adf